<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - SampleWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/Home/About">About</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - SampleWebApp</p>
    </footer>
</body>
</html>
